/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* base style */

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

/* typography */

h1,
h2,
h3 {
  color: #131313;
  font-weight: 700;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #727272;
}

.dark {
  color: #131313;
}

.gray {
  color: #727272;
}

.text-yellow {
  color: #ff900e;
}

/* share style */
img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.gap-primary {
  margin-top: 120px;
  margin-bottom: 120px;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #727272;
}

/* header */

.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul {
  display: flex;
}
.navbar li {
  list-style: none;
  margin-right: 20px;
}

.navbar a:hover {
  color: #ff900e;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #727272;
}

/* banner */

.banner-content {
  max-width: 862px;
  margin: 100px auto 50px auto;
  text-align: center;
}

.banner-content p {
  margin: 20px 0;
}

/* our team */
.our-team {
  display: flex;
  align-items: center;
  gap: 60px;
}
.team-content .quick {
  color: #727272;
  font-weight: 400;
}

.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
}

.team-content {
  width: 50%;
}

.team-content p {
  margin: 20px 0;
}
.badge{
  background-color: #ff900e;
  padding: 45px 40px;
  border-radius: 8px;
  color: rgb(184, 184, 184);
  text-align: center;
  width: 350px;
  position: relative;
  top: -100px;
  right: 50px;
}
.badge h1{
  color: white;
}


/* our feature */
.our-feature {
  display: flex;
  gap: 100px;
}

.feature-cards {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.feature-image,
.feature-content {
  width: 50%;
}
.feature-image img {
  width: 100%;
}

.heading-content h2 {
  border-left: 5px solid #ff900e;
  padding: 3px;
  margin: 20px 0;
}
.card {
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}

/* some facts */

.facts-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.facts-card {
  border: 1px solid #ff900e;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}
.facts-card img {
  width: auto;
}

.facts-content {
  margin: 50px 0;
}

/* sponspors  */

.sponspors-content {
  text-align: center;
}

.sponspors-content p {
  margin: 20px 0;
}

.sponspors-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
  align-items: center;
  margin-top: 50px;
}

/* footer */
.footer {
  background-color: #fff4e7;
  padding: 20px;
  text-align: center;
}

/* small device */

@media screen and (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  .container {
    padding: 20px;
  }
  .gap-primary {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .header {
    padding: 20px 0;
  }
  .navbar,
  .our-team,
  .our-feature {
    flex-direction: column;
    gap: 20px;
  }

  .banner-content {
    margin: 50px auto 30px auto;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 12px 24px;
  }
  .our-team {
    gap: 40px;
  }
  .team-images {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .team-content {
    width: 100%;
  }

  .feature-image,
  .feature-content {
    width: 100%;
  }

  .facts-cards {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .sponspors-cards {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 50px;
    margin-top: 20px;
  }

  .sponspors-cards img {
    width: 30%;
  }

  .badge{
    width: 100%;
    position: static;
  }
}

/* medium device */

@media screen and (min-width: 575px) and (max-width: 960px) {
  h1 {
    font-size: 55px;
  }
  .container {
    padding: 20px;
  }
  .gap-primary {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .navbar,
  .our-team,
  .our-feature {
    flex-direction: column;
    gap: 20px;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 15px 30px;
  }
  .team-content,
  .team-images {
    width: 100%;
  }
  .our-team {
    gap: 50px;
  }
  .feature-image,
  .feature-content {
    width: 100%;
  }
  .facts-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponspors-cards {
    gap: 20px;
    text-align: center;
  }

  .sponspors-cards img {
    width: 70%;
  }
  
  .badge{
    width: 100%;
    position: static;
  }
}
