/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* base style */

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

/* typography */
h1,
h2,
h3 {
  color: #131313;
  font-weight: 700;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 45px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #727272;
}

.dark {
  color: #131313;
}

.gray {
  color: #727272;
}

.yellow {
  color: #ff900e;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */
.logo {
  font-size: 35px;
}

.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul {
  display: flex;
}
.navbar li {
  list-style: none;
  margin-right: 20px;
}

.navbar a:hover {
  color: #ff900e;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #727272;
}
