/* google fonts add */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", serif;
}

img {
  width: 100%;
}

/* custom class style */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-gap {
  margin: 120px 0;
}

p {
  font-size: 1rem;
  color: 727272;
}

h1 {
  font-size: 4rem;
  color: #131313;
  font-weight: bold;
}

h2 {
  font-size: 2.8rem;
  color: #131313;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}

.btn {
  cursor: pointer;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  background-color: #ff900e;
  border: none;
}

/* header section */

header {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 30px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.12rem;
  font-weight: 500;
  color: #424242;
}
.navbar h2 {
  cursor: pointer;
}

.banner {
  padding: 50px 0;
}
.banner-content {
  text-align: center;
  margin: 50px 0;
}
.banner-content p {
  margin: 30px 0;
}

/* small device responsive */

@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
  h1 {
    font-size: 3rem;
    color: #131313;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    color: #131313;
    font-weight: bold;
  }
  /* header */

  .navbar {
    flex-direction: column;
    gap: 16px;
  }
  .navbar ul li {
    margin-left: 15px;
  }
  .banner-content {
    margin-top: 0;
  }

  .banner {
    padding: 20px;
  }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    padding: 20px;
  }
  .navbar {
    flex-direction: column;
    gap: 20px;
  }
}
